// stylelint-disable property-no-vendor-prefix
html {
  font-size: 16px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: $body-letter-spacing;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 0;
  position: relative;
  min-height: 100%;
  // -webkit-user-select: none;
  // -webkit-tap-highlight-color: transparent;
  // -webkit-touch-callout: none;

  .content * {
    @include scrollbar;
  }

  @media print {
    background: transparent;
  }
}

